html, body, div {
  margin: 0;
  padding: 0;
}
.filterable-product-table {
  width: 500px;
  min-height: 400px;
  background: red;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.search-bar {
  background: blue;
}

.product-table {
  background: yellow;
}
